<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->

    <div id="preloader">
        <div class="loader">
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->



    <app-header></app-header>

    <app-wishes></app-wishes>

    <app-signup></app-signup> 

    <app-user></app-user> 

    <app-polls></app-polls>

    <app-results></app-results>
    <!--<app-deals></app-deals>-->

    <!-- <app-donate></app-donate>-->

    <!--<app-testimonial></app-testimonial>-->


    <!-- <app-contact></app-contact> -->

    <!--<app-subscribe></app-subscribe> -->

    <!--  <app-footer></app-footer> -->



    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>


</body>