<!-- testimonial -->
<div id="testi" class="gallery-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Testimonial</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-10 offset-1 testimonial_slider">
                <div id="client_slider" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#client_slider" data-slide-to="0" class="active"></li>
                    <li data-target="#client_slider" data-slide-to="1"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item text-center active">
                        <div class="testimonial_img">
                            <img width="150" height="150" class="d-block rounded-circle" src="http://nicesnippets.com/demo/profile-1.jpg" alt="First slide">
                        </div>
                        <h5 class="mt-4 mb-0"><strong class="text-uppercase" style="color: #e91327;padding-bottom: 0;">Harry Mike</strong></h5>
                        <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                    </div>
                    <div class="carousel-item text-center">
                        <div class="testimonial_img">
                            <img width="150" height="150" class="d-block rounded-circle" src="http://nicesnippets.com/demo/profile-3.jpg" alt="First slide">
                        </div>
                        <h5 class="mt-4 mb-0"><strong class="text-uppercase" style="color: #e91327;padding-bottom: 0;">Jonh Max</strong></h5>
                        <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                    </div>
                  </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<!-- end testimonial -->