<!-- wish -->
<div id="wish" class="about-box" style="padding-bottom: 0;">
    <div class="about-a1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Best Wishes</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row align-items-center about-main-info">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                          <div class="full">
                                <img class="img-responsive" src="./assets/images/w1.png" alt="#" />
                          </div>
                        </div>

                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2><img style="width: 60px;" src="./assets/images/head_s.png" alt="#" /> Sweta Sinha Wishes</h2>
                            <p>What all of us doubted in 2020 and have marveled in 2021 is the art of balancing both "work" & "home" while working from home 🙂 </p>
                            <p>Bidding farewell to such a great year with a hope of an exciting journey next year, wish you and your families Merry Christmas & a very Happy New Year 2022!.</p>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> 

    

    <div class="about-a1" style="background:#f7f7f7;margin-top: 50px;padding-top: 75px;padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row align-items-center about-main-info">
                    
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2><img style="width: 60px;" src="./assets/images/head_s.png" alt="#" /> Saurabh Singh Wishes</h2>
                            <p>“May your family have a holiday season that is full of wonderful surprises, treats and nonstop laughter.”
                            </p>
                            <p>"Merry Christmas! Wishing you all the best this holiday season!"</p>
                           
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                          <div class="full">
                                <img class="img-responsive" src="./assets/images/w2.png" alt="#" />
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- wish us -->
